/*========================================= DUOI DAY LA TRANG CHU ==================================*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* HEADER */
.header {
    background-color: #ff6f61;
    color: white;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    height: 70px;
    width: 120px;
}

.user-cart a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.user-cart a:hover {
    color: aqua;
    transform: scale(1.05);
}

.search-box input {
    padding: 6px;
    width: 300px;
    border: none;
    border-radius: 4px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;
}

.nav a:hover {
    color: aqua;
    transform: scale(1.05);
}

.user-cart i {
    color: #fff;
    transition: all 0.3s ease;
}

.user-cart a:hover i {
    color: #ffcc99;
    text-shadow: 0 0 8px #ffcc99;
}

.search-box {
    /* Chiều rộng mặc định */
    transition: all 0.3s;
}

.search-input {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 25px;
    transition: all 0.3s;
    font-size: 16px;
}

/* Khi hover vào input */
.search-input:hover {
    background-color: aqua;
    /* Viền vàng */
    transform: scale(1.05);
}

/* Khi focus (click vào ô) */
.search-input:focus {
    outline: none;
}

.dropdown {
    display: inline-block;
    margin-left: 10px;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #333;
}

.dropdown-toggle:hover {
    color: #007bff;
}

/* SECTION */
.content {
    padding: 40px;
    text-align: center;
}


/* FOOTER */
.footer {
    background-color: #333;
    color: #ccc;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
}

.footer h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 8px;
}

.footer ul li a {
    text-decoration: none;
    color: #ccc;
}

.footer ul li a:hover {
    color: #ff6f61;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

/*========================================= TREN DAY LA TRANG CHU ==================================*/